{% extends 'partials/base.html' %}

{% block content %}
<h1 class="text-center my-4">Welcome to My Website</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h2>About This Website</h2>
                </div>
                <div class="card-body">
                    <p>
                        Welcome to My test website! This website is designed to test the functionality to test the Search Functionality and how it works in backend and its flow too.This platform is designed to be user-friendly and accessible, ensuring that you can find what you need quickly and efficiently.
                    </p>
                    
                    <p>
                        Thank you for visiting, and we hope you enjoy your experience on our site!
                    </p>
                </div>
                <div class="card-footer text-muted">
                    &copy; 2025 My Website. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}